
body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

h1 {
    font-size: 17px;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%)
}

img {
    width: 100%;
    border-radius: 10px;
}